form.import-json .input-file-container {
    position: relative;
    width: 50%;
    height: 200px;
}
form.import-json .input-file-container:hover .text-input-file {
    background-color: #232323;
}
    form.import-json .text-input-file {
        display: block;
        height: 100%;
        text-align: center;
        padding-top: 85px;
        border: 3px dotted gainsboro;
        color: gainsboro;
        font-size: 1em;
        transition: all .4s;
        cursor: pointer;
    }
    form.import-json .input-file {
        position: absolute;
        display: block;
        top: 0;
        bottom: 0;
        width: 100%;
        left: 0;
        opacity: 0;
        cursor: pointer;
    }